# coding: utf-8

# flake8: noqa

"""
    Overseerr API

    This is the documentation for the Overseerr API backend.  Two primary authentication methods are supported:  - **Cookie Authentication**: A valid sign-in to the `/auth/plex` or `/auth/local` will generate a valid authentication cookie. - **API Key Authentication**: Sign-in is also possible by passing an `X-Api-Key` header along with a valid API Key generated by Overseerr.   # noqa: E501

    The version of the OpenAPI document: 1.0.0
    Generated by: https://openapi-generator.tech
"""


# import apis into api package
from overseerr.api.auth_api import AuthApi
from overseerr.api.collection_api import CollectionApi
from overseerr.api.issue_api import IssueApi
from overseerr.api.media_api import MediaApi
from overseerr.api.movies_api import MoviesApi
from overseerr.api.other_api import OtherApi
from overseerr.api.person_api import PersonApi
from overseerr.api.public_api import PublicApi
from overseerr.api.request_api import RequestApi
from overseerr.api.search_api import SearchApi
from overseerr.api.service_api import ServiceApi
from overseerr.api.settings_api import SettingsApi
from overseerr.api.tmdb_api import TmdbApi
from overseerr.api.tv_api import TvApi
from overseerr.api.users_api import UsersApi
